.image-container {
    width: 18rem;
    height: 27rem;
    position: relative;
    &__img {
        display: block;
        width: 18rem;
        height: 27rem;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .5s ease-out;
    }
  }

.image-container--canvas {
    background-image: url(http://res.cloudinary.com/dviy2q8nb/image/upload/c_scale,h_285,w_220/v1525845750/wheel_back_gdtzji.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: $m-size auto;
    display: flex;
    justify-content: center;
}
  