html {
  outline: none;
  font-size: 62.5%;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body {
  background-color: $backOff;
  font-family: arial, sans-serif;
  font-size: $m-size;
  box-sizing: border-box;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
